body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #808080; /* Grey background color */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #fff; /* White divs */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header .container {
    background: none;
    padding: 0;
    box-shadow: none;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #0779e4;
}

.profile {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.profile img {
    border-radius: 50%;
    margin-right: 20px;
}

.profile h2 {
    margin: 0;
}

.projects {
    margin-top: 20px;
}

.projects h2 {
    margin-bottom: 20px;
}

.projects article {
    margin-bottom: 20px;
}

.projects article img {
    display: block;
    margin-top: 10px;
}

.parallax {
    background-image: url('header-bg.jpg');
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects article img {
    display: block;
    margin: 0 auto; /* Align images in the center */
    max-width: 100%; /* Ensure images don't exceed container width */
    max-height: 150px; /* Limit the maximum height of images */
}
